body{
    background-color: #c3cfe2;;
}

.image-container{
    display: grid;
    grid-gap: 10px;
    width: fit-content;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    color: #FFF;
    border-radius: 3%;
    transition: 2s ease-in;
}
.container:hover .overlay {
    display: block;
    background: #1A4C80;
    opacity: 1;
}
.overlay a{
    width: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    border: white;
    border-radius: 5%;
    background-color: white;
    text-decoration: none;
    margin: auto;
    margin-top: 125px;
    color: #1A4C80;
}
img{
    border-radius: 3%;
    max-height: 100%;
    max-width: 100%;
}